
.bar-title {
	text-transform: uppercase;
	font: bold 20px black;
	letter-spacing: 3px;
}

.menu {
	-webkit-columns: 3 300px;
	-moz-columns: 3 300px;
	columns: 3 300px;
	font-size: 1px;
	margin: 0;
	padding: 0;
	border: 5px double black;
}

.menu__block {
	page-break-inside: avoid;
	break-inside: avoid;
	background: white;
	border: 1px solid black;
	padding: 3px;
	font-size: 12px;
}

.menu__block-content {
	width: 100%;
	border-spacing: 0;
}

.menu__name-header {
	font-size: 140%;
	border-bottom: 1px solid black;
	text-align: left;
}

.menu__amount-header {
	font: normal 70% black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.menu__price-header {
	font: normal 60% black;
	border-bottom: 1px solid black;
}

.menu__item-name {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 3px;
}

.menu__item-name--dotted::after {
	content: '';
	position: absolute;
	bottom: .30em;
	width: 100%;
	border-bottom: .1em dotted;
}

.menu__item-amount {
	text-align: center;
	width: 10%;
	font-size: 70%;
	border-left: 1px solid black;
}

.menu__item-name--right-border {
	border-right: 1px solid black;
}

.menu__item-price {
	text-align: center;
	width: 10%;
	font-weight: bold;
}

.menu__image {
	width: 100%;
	height: 100%;
}

.menu__item-name-description {
	font-style: italic;
}

.menu__name-header--styled {
	text-transform: uppercase;
	color: green;
}

.menu__bold-text {
	font: bold 110% black;
}